@import "tailwindcss";

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */ 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
      )
      rgb(var(--background-end-rgb))
}



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

@theme {
  --color-jira-background-primary: #1D2125;
  --color-jira-background-secondary: #22272B;
  --color-jira-background-tertiary: #2C333A;
  --color-jira-background-clean: #ecfeff;
  --color-jira-background-clean2: #fcd34d;
  --color-jira-border-dark: #38414A;
  --color-jira-text-primary: #FFFAFA;
  --color-jira-text-secondary: #9FADBC;
  --color-jira-text-tertiary: #738496;
  --color-jira-text-disabled: #596773;
  --color-jira-accent-blue: #1D7AFC;
  --color-jira-accent-blue-hover: #0C66E4;
  --color-jira-accent-red: #E2483D;
  --color-jira-accent-green: #2ABB7F;
  --color-jira-accent-yellow: #CF9F02;
}